PORT=3200
HOST=127.0.0.1
DB_PATH=./wine_price.db
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
OCR_ENDPOINT=
OCR_AUTH_TOKEN=
OCR_REQUEST_FORMAT=json_base64
OCR_BASE64_FIELD=imageBase64
OCR_IMAGE_FIELD=image
OCR_TIMEOUT_MS=12000
ADMIN_TOKEN=
BACKUP_DIR=./backups
BACKUP_RETENTION=30
